<section class="upvote">
  <div class="vote">
    <img src="../../assets/images/icon-plus.svg" alt="">
    <p> {{ comment.score }} </p>
    <img src="../../assets/images/icon-minus.svg" alt="">
  </div>
</section>
<section class="content">
  <div class="header">
    <div>
      <img [src]="comment.user.image.png" alt="" class="avatar">
    </div>
    <div class="username">
      <p> {{ comment.user.username }} <span class="badge" *ngIf="isUser">you</span></p>
      
    </div>
    <div class="time">
      <p>1 month ago</p>
    </div>
    <div class="actions">
      <ng-container *ngIf="!isUser else edit" >
        <div (click)="showReplyForm()" class="item-wrapper">
          <img src="../../assets/images/icon-reply.svg" alt="" class="reply-icon">
          <p class="reply">Reply</p>
        </div>
      </ng-container>
      <ng-template #edit>
        <div class="item-wrapper">
          <img src="../../assets/images/icon-delete.svg" alt="" class="delete-icon">
        <p class="delete">Delete</p>
        </div>
        <div class="item-wrapper">
          <img src="../../assets/images/icon-edit.svg" alt="" class="edit-icon">
        <p class="edit">Edit</p>
        </div>
      </ng-template>
      
    </div>
  </div>
  <div class="comment-text">
    <p> {{ comment.content }} </p>
  </div>
</section>
