<section class="upvote">
  <div class="vote">
    <img src="../../assets/images/icon-plus.svg" alt="">
    <p> {{ comment.score }} </p>
    <img src="../../assets/images/icon-minus.svg" alt="">
  </div>
</section>
<section class="content">
  <div class="header">
    <div>
      <img [src]="comment.user.image.png" alt="" class="avatar">
    </div>
    <div class="username">
      <p> {{ comment.user.username }} <span class="badge" *ngIf="isUser">you</span></p>
      
    </div>
    <div class="time">
      <p>1 month ago</p>
    </div>
    <div class="reply">
      <img src="../../assets/images/icon-reply.svg" alt="">
      <p>Reply</p>
    </div>
  </div>
  <div class="comment-text">
    <p> {{ comment.content }} </p>
  </div>
</section>
