@import '../../styles.scss';

.comment-box {
    width: 700px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 7px;
    padding-bottom: 5px;
}

.content {
    margin-left: 90px;
}

.header {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    
}

.avatar {
    width: 35px;
    height: 35px;
    margin-top: 10px;
}

.username {
    margin-left: 5px;
    margin-right: 5px;

    .badge {
        background-color: $moderate-blue;
        padding-right: 5px;
        padding-left: 5px;
        color: $white;
        font-weight: 500;
    }
}

.time {
    color: $grayish-blue;
    margin-right: 5px;
    margin-left: 5px;
}

.actions {
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    p {
        margin-left: 5px;
        font-weight: 500;
        color: $moderate-blue;
    }

    img {
        margin-right: 5px;
    }

    .delete {
        color: $soft-red;
        margin-right: 15px;
    }

    .delete:hover {
        color: $pale-red;
    }

    .edit:hover, .reply:hover, .delete:hover {
        color: rgba($moderate-blue, .7);
    }

    .reply-icon:hover, .edit-icon:hover, .delete-icon:hover {
        opacity: .7;
    }


}

.comment-text {
    color: $grayish-blue;
    padding-right: 50px;
}


// Vote Element
.upvote {
    position: relative;
    width: 90px;

    .vote {
        position: absolute;
        width: 35px;
        background-color: #eaecf1;
        left: 30px;
        top: 12px;
        border-radius: 5px;
        padding-top: 3px;
        padding-bottom: 3px;

        p {
            text-align: center;
        }
        
        img {
            margin-left: 12px;
            cursor: pointer;
        }
    }
}