<div class="comment-box">
  <section class="upvote">
    <div class="vote">
      <img src="../assets/images/icon-plus.svg" alt="">
      <p>3</p>
      <img src="../assets/images/icon-minus.svg" alt="">
    </div>
  </section>
  <section class="content">
    <div class="header">
      <div>
        <img src="../assets/images/avatars/image-amyrobson.png" alt="" class="avatar">
      </div>
      <div class="username">
        <p>amyrobson</p>
      </div>
      <div class="time">
        <p>1 month ago</p>
      </div>
      <div class="reply">
        <img src="../assets/images/icon-reply.svg" alt="">
        <p>Reply</p>
      </div>
    </div>
    <div class="comment-text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni necessitatibus doloremque quis eligendi odio cum? Consequuntur, molestias, tenetur pariatur voluptatem architecto fuga quos repudiandae ducimus corporis, ipsam numquam est natus.</p>
    </div>
  </section>
</div>